<p><%= ys.course.name %></p>
<p>par <%= ys.teacher.first_name %></p>
<p><%= "le " + ys.start_date.strftime("%d/%m/%Y") %></p>
<p><%= "de #{ys.start_date.strftime("%H:%M")} à #{ys.end_date.strftime("%H:%M")}" %></p>
<p><%= ActiveSupport::NumberHelper.number_to_currency(ys.price, precision: 0) %></p>
<% if ys.remaining_seats > 0 %>
  <p><%= "#{pluralize(ys.remaining_seats, 'place')} #{'restante'.pluralize(ys.remaining_seats)}" %> </p>
  <%= button_to "Réserver", add_to_cart_yoga_session_path(ys), method: :post, class: 'btn btn--resa',
  data: { id: ys.id,
          name: ys.course.name,
          start_date: ys.start_date,
          price: ys.price
  } %>
  <% else %>
  <p>COMPLET</p>
  <% end %>
