              <section class="yogaclass">
                <h2>Planning des cours</h2>
                <p>Retrouvez ici tous les cours réservables! </p>                
                <% @yoga_sessions.each do |ys| %>
                    <div class="yogaclass__card">
                        <p><%= ys.course.name %></p>
                        <p>par <%= ys.teacher.first_name %></p>
                        <p><%= "le " + ys.start_date.strftime("%d/%m/%Y") %></p>
                        <p><%= "de #{ys.start_date.strftime("%H:%M")} à #{ys.end_date.strftime("%H:%M")}" %></p>
                        <p><%= ActiveSupport::NumberHelper.number_to_currency(ys.price, precision: 0) %></p>
                        <p><%= "#{pluralize(ys.remaining_seats, 'place')} #{'restante'.pluralize(ys.remaining_seats)}" %> </p>
                        <%= form_with model: Booking.new, class: "form__resa", url: "/bookings", method: :post do |form| %>
                          <%= form.hidden_field :yoga_session_id, value: ys.id %>
                          <%= form.submit "Réserver", class: "btn btn__resa", disabled: current_user.nil? %>
                        <% end %>
                        <%# <form class="form__resa" action="timetable/add" method="POST">
                            <button type="submit" class="btn btn__resa"
                                    data-id=""
                                    data-name=""
                                    data-date =""
                                    data-time= ""
                                    data-price="">
                                    Réserver
                            </button>
                            <input type="hidden" name="yogaclass_id" value="">
                        </form> %>
                    </div>
                    <% end %>
            </section>

