<%= form_for :session, class: "form", url: session_path do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, 'aria-required' => true %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, 'aria-required' => true  %>
  </div>

  <div>
    <%= form.submit class: 'btn' %>
  </div>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <div>Pas encore de compte ? <%= link_to t(".sign_up"), sign_up_path %>
      </div>
    <% end %>
  </div>
<% end %>
