<section class="cart" >
  <h2>Mon espace réservation</h2>
  <% if @cart.empty? %>
    <div>
      <p>Vous n'avez aucune réservation en cours!</p>
    </div>
    <% else %>
    <div class="cart__booking">
    <% @cart.each do |yoga_session| %>
      <div>
        <p><%= yoga_session.course.name %></p>
        <p><%= "le " + yoga_session.start_date.strftime("%d/%m/%Y") %></p>
        <p><%= "de #{yoga_session.start_date.strftime("%H:%M")} à #{yoga_session.end_date.strftime("%H:%M")}" %></p>
        <p><%= ActiveSupport::NumberHelper.number_to_currency(yoga_session.price / 100.0) %></p>
        <p><%= button_to 'Effacer', remove_from_cart_yoga_session_path(yoga_session), method: :delete %></p>
      </div>
    <% end %>
    </div>
    <%= button_to 'Valider', checkout_create_path, class: 'btn', data: { turbo: false } %>
  <% end %>
</section>
