<div class="background">
    <div class="background__title">L'expérience au coeur du souffle</div>
</div>
<div class="arrow">
    <%= link_to root_path(anchor: 'about') do %>
        <div class="arrow__bar"></div>
        <div class="arrow__bar2"></div>
    <% end %>
</div>             
<section id="about" class="about" >
    <h2>Le studio</h2>
    <p>Que vous n'ayez jamais posé un orteil sur un tapis de yoga ou que vous le dérouliez dès le réveil pour enchaîner les salutations au soleil, venez pratiquer dans une ambiance chaleureuse et lumineuse. Le studio est ouvert à tou.te.s et à tous les âges!</p>
    <p>Les salles sont équipées de tout le matériel nécessaire et permettent également d'adapter les postures afin de respecter les limites de chacun.e (blocs, sangles de yoga, coussin de méditation, pads pour prendre soin des genoux etc.).</p>
    <p>Encore une hésitation ? Alors venez nous voir au studio ou contactez-nous par email! Nous serons ravi.e.s de vous répondre.</p>
</section>
<section class="courses">
    <h2>Les yoga</h2>
    <div class="courses__article">
      <% @courses.each do |course| %>
      <article>
          <h3><%= course.name %></h3>
          <p><%= course.short_description %></p>
      </article>
      <% end %>
    </div>
    <div class="btn__container">
        <%= link_to 'plus', courses_path, class: "btn" %>
    </div>
</section>
<section>
    <h2>L'équipe</h2>
    <div class="team">
        <% @teachers.each do |teacher| %>
        <div class="team__element">
            <div class="team__picture">
                <div>
				<% if teacher.picture.url %>
				<img src="<%= rails_blob_path(teacher.picture, disposition: "attachment", expires_in: 60.seconds) %>" alt="photo de <%= teacher.full_name %>">
				<% end %>
                </div>
            </div>
            <h3><%= teacher.full_name %></h3>
        </div>
        <% end %>
    </div>
    <div class="btn__container">
        <%= link_to 'Les connaître', teachers_path, class: "btn btn--team" %>
    </div>  
</section>
<section>
    <h2>Envie d'essayer ?</h2>
    <div class="btn__container">
        <%= link_to 'Réserver', yoga_sessions_path, class: "btn" %>
    </div>
</section>
    
