<nav data-navbar-target='toggable' class="navbar">
	<ul>
		<li><%= link_to 'A propos', root_path(anchor: 'about') %></li>
		<li><%= link_to 'Cours', courses_path %></li>
		<li><%= link_to 'Enseignants', teachers_path %></li>
		<li><%= link_to 'Planning', yoga_sessions_path %></li>
		<% if signed_in? %>
			<li class="laptop icon">
			<%= link_to user_path(current_user) do %>
				<i class="fas fa-child"></i>
			<% end%>
			</li>
			<li class="laptop icon icon--signout">
				<%= button_to sign_out_path, method: :delete do %>
					<i class="far fa-times-circle"></i>
				<% end %>
			</li>
		<% else %>
 			<li class="laptop icon">
				<%= link_to sign_in_path do %>
					<i class="fas fa-user"></i>
				<% end %>
			</li>
		<% end %>
		<% if signed_in? %>
			<li><%= link_to 'mon compte', user_path(current_user) %></li>
			<li> <%= button_to 'deconnexion', sign_out_path, class: 'icon--signout', method: :delete %></li>
		<% else %>
			<li><%= link_to 'mon compte', sign_in_path %></li>
		<% end %>
	</ul>
</nav>